{% extends '/base.html.twig' %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="login-wrapper col-md-8 col-lg-6 col-xl-5">
        <div class="login-container">
          <div class="login-header">
            <h1>Přihlásit se</h1>
            <a href="{{ path('index') }}">
              <i class="eva eva-2x eva-close-outline"></i>
            </a>
          </div>
          {% if error %}
            <p class="error-general">{{ error.messageKey|trans([], 'security') }}</p>
          {% endif %}

          <form method="post" name="login">
            <div class="input-wrapper">
              <label for="username">E-mail</label>
              <input
                type="email"
                id="username"
                name="_username"
                value="{{ last_username }}"
                placeholder="jmeno@fel.cvut.cz"
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                class="input-base"
                required
              />
            </div>

            <div class="input-wrapper">
              <label for="password">Heslo</label>
              <input
                type="password"
                id="password"
                name="_password"
                placeholder="Heslo"
                class="input-base"
                required
              />
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('login') }}">

            <button type="submit" class="btn btn-primary">Přihlásit</button>
          </form>
        </div>
      </div>
      <div class="col">
        <img src="{{ asset(public_directory ~ '/build/images/cover.jpg') }}" alt="Pozadí" class="img-cover">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('login') }}
{% endblock %}