{% if posts is defined and posts is not empty %}
    {% for post in posts %}
      <div class="post" id="post-{{ post.id }}">
        <a href="{{ post.link }}" class="post-link"></a>
        <img
          class="post-photo"
          src="{{ post.photo }}"
          alt="{{ post.title }}"
          width="250"
        >
        <div class="post-details">
          <h2 class="post-title">{{ post.title }}</h2>
          <p class="post-description">{{ post.description }}</p>
          {% if app.user %}
            <like-button
              id="{{ post.id }}"
              {% if post.isLiked %}liked{% endif %}
            ></like-button>
            <noscript>
              <a href="{{ path('like_post', {id: post.id}) }}" class="like-button-fallback">
                <i class="eva eva-2x eva-heart{% if not post.isLiked %}-outline{% endif %}"></i>
              </a>
            </noscript>
          {% endif %}
        </div>
      </div>
    {% endfor %}
{% else %}
  <div class="no-result">
    {% if isFiltered %}
      <h2>Zatím nemáš žádná oblíbená místa.</h2>
      <p>
        Když najdeš něco, co se ti bude líbit, ulož si to kliknutím na ikonku srdíčka.
      </p>
    {% else %}
      <h2>Žádné výsledky</h2>
    {% endif %}
  </div>
{% endif %}