{% if posts is defined %}
    {% for post in posts %}
      <div class="post" id="post-{{ post.id }}">
        <a href="{{ post.link }}" class="post-link"></a>
        <img
          class="post-photo"
          src="{{ post.photo }}"
          alt="{{ post.title }}"
          width="250"
        >
        <div class="post-details">
          <h2 class="post-title">{{ post.title }}</h2>
          <p class="post-description">{{ post.description }}</p>
          {% if app.user %}
            <like-button
              id="{{ post.id }}"
              class="like-button"
              {% if post.isLiked %}liked{% endif %}
            ></like-button>
            <noscript>
              <a href="{{ path('like_post', {id: post.id}) }}">
                <i class="eva eva-2x eva-heart{% if not post.isLiked %}-outline{% endif %}"></i>
              </a>
            </noscript>
          {% endif %}
        </div>
      </div>
    {% endfor %}
{% endif %}